<div class="col-lg-4 col-md-4">
        <!-- -->
        <div class="sidebarblock">
            <h3>Categories</h3>
            <div class="divline"></div>
            <div class="blocktxt">
                <ul class="cats">
                    <% for(var i = 0; i < categories.length; i++){ %>
                        <li>
                            <a href="#">
                                <%= categories[i].name %>
                                    <span class="badge pull-right"><%= categories[i].count %></span>
                            </a>
                        </li>
                        <% }%>
                </ul>
            </div>
        </div>
    </div>